*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(77, 32, 32);
}
#header h1{
    color: white;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
}
.nav-links{
    display: flex;
    gap: 30px;
    padding: 15px;
    list-style: none;
}
.nav-links a{
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.cart{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}
.cart i{
    padding: 15px;
}
.cart:hover{
    color: rgb(0, 0, 0);
}
#hero-section{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #f5f1ed;
    padding: 15px;
}
.hero-content{
    text-align: center;
    width: 50%;
}
.hero-content h2{
    font-size: 48px;
    font-weight: bold;
    padding: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(77, 32, 32);
}
.hero-content h3{
    padding: 15px;
    font-size: 30px;
    margin-bottom: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(105, 50, 50);
}
.hero-content p{
    padding: 15px;
    font-size: 22px;
    margin-bottom: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.hero-content button{
    border: none;
    border-radius: 8px;
    background-color:rgb(77, 32, 32);
    color: white;
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 8px;
    margin: 5px;
}
.hero-content button:hover{
    background-color: rgb(105, 50, 50);
}
#hero-section img{
    width: 40%;
    max-width: 500px;
}
#categories{
    padding: 50px;
    background-color: #fff;
    margin: 15px;
}
.section-heading{
    text-align: center;
    margin-bottom: 40px;
}
.section-heading h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(77, 32, 32);
}
.section-heading p{
    color: #666;
}
.categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.category{
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
}
.category img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category h3{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
}
.category:hover{
    background-color: rgb(77, 32, 32);
    color: #fff;
}
#products{
    background-color: #f3ebe5;
    padding: 15px;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.product-card{
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    text-align:center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.product-card:hover{
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.product-card img{
    width: 100%;
    height:230px;
    object-fit: cover;
    border-radius: 8px;
}
.product-card img:hover{
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.product-card h3{
    margin: 10px 0;
    font: bold;
    font-size: 20px;
    color: rgb(77, 32, 32);
}
.price{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
.rating-stars{
    font-size: 14px;
    margin-bottom: 18px;
}
.rating-stars i{
    color: #d4a017;
}
.product-card button{
    border: none;
    background-color:rgb(77, 32, 32);
    color: white;
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    margin: 5px;
}
.product-card button:hover{
    background-color: rgb(105, 50, 50);
}
.product-modal{
    display: none;   
}
.product-modal:target{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.modal-content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    width: 80%;
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
    position: relative;
}
.close-modal{
    position: absolute;
    top: 10px;
    right: 15px;
    color: #333;
    font-size: 30px;
    line-height: 1;
    text-decoration: none;
}
.modal-content img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.product-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.product-details h3{
    color: rgb(77, 32, 32);
    font-size: 30px;
    margin-bottom: 20px;
}
.product-details p{
    color: #555;
    font-size: 18px;
    margin-bottom: 10px;
}
.product-details .price{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
.rating-stars{
    font-size: 18px;
    margin-bottom: 20px;
}
.rating-stars i{
    color: #d4a017;
}
.product-details button{
    border: none;
    background-color:rgb(77, 32, 32);
    color: white;
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
}
.product-details button:hover{
    background-color: rgb(105, 50, 50);
}
#about{
    padding: 80px;
    background-color: #f8f5f2;
    margin: 15px;
}
.about{
    max-width: 800px;
    margin: auto;
    text-align: center;
}
.about h2{
    color: rgb(77, 32, 32);
    font-size: 40px;
    margin-bottom: 20px;
}
.about p{
    color: #555;
    font-size: 20px;
    margin-bottom: 30px;
}
#contact{
    padding: 80px;
    background-color: #f3ebe5;
    margin: 15px;
}
.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin: auto;
    align-items: center;
}
.contact-info h2{
    color: rgb(77, 32, 32);
    font-size: 40px;
    margin-bottom: 20px;
}
.contact-info p{
    color: #555;
    font-size: 20px;
    margin-bottom: 30px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
.contact-detail i{
    font-size: 30px;
    color: rgb(77, 32, 32);
}
.contact-detail h3{
    margin: 0;
    font-size: 20px;
    color: rgb(77, 32, 32);
}
.contact-detail p{
    margin: 0;
    font-size: 20px;
    color: #555;
}
.contact-form{
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact-form label{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
.contact-form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 8px;
    font-size: 16px;
}
.contact-form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 8px;
    font-size: 16px;
}
.contact-form button{
    border: none;
    border-radius: 8px;
    background-color:rgb(77, 32, 32);
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 12px
}
.contact-form button:hover{
    background-color: rgb(105, 50, 50);
}
#cart-container {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 100vh;
    overflow-y: auto;
    background-color: white;
    padding: 20px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
}
.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}
#close-cart {
    border: none;
    font-size: 30px;
    color: #333;
}
#close-cart:hover {
    color: rgb(77, 32, 32);
}
.cart-item {
    display: grid;
    grid-template-columns: 90px 1fr;
    gap: 10px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
.cart-item img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
}
.cart-item h3 {
    color: rgb(77, 32, 32);
    font-size: 18px;
    margin: 5px;
}
.cart-item p {
    color: #555;
    font-size: 15px;
    margin: 5px;
}
.cart-footer {
    padding-top: 20px;
    border-top: 2px solid #ddd;
    margin-top: 20px;
}
.cart-footer h3 {
    color: rgb(77, 32, 32);
    font-size: 20px;
}
#footer{
    padding: 60px;
    background-color: #321515;
    color: white;
    margin: 15px;
}
.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 50px;
    margin: auto;
}
.footer-section{
    color: rgb(77, 32, 32);
    font-size: 40px;
    margin-bottom: 20px;
}
.footer-section h3{
    color: #d4a017;
    font-size: 20px;
    margin-bottom: 20px;
}
.footer-section p{
    color: #ddd;
    font-size: 20px;
    margin-bottom: 30px;
    text-decoration: none;
}
.footer-section a{
    display: block;
    color: #ddd;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}
.footer-section a:hover{
    color: #d4a017;
}
.footer-bottom{
    width: 100%;
    margin-top: 50px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #5a3030;
    text-align: center;
    color: #555;
    text-decoration: none;
    padding: 20px;
}
.footer-bottom p{
    color: #aaa;
    font-size: 14px;
}